.clear{clear:both}
.visatable {
    padding: 5px; min-height: 30px;
}
.visatable tr {
    line-height: 20px;
}
.marright{margin-right:15px}
.visatable select { width:100%;
}
.visatable .select.replacement {
    padding-right: 0;
    width: 100%;
}
.mobilephone input {
	width: 90% !important;
	float: right;
}
.logo {
    text-align: center;
    padding: 5px;
}
.blocktit {
	padding: 5px 5px 0;
}
.blocktit h3 {
	margin: 0 0 5px;
}
.updateDate {
    font-size: 16px !important;
    line-height: normal;
}
.updateDate .icon-cycle.icon-size2 {
	margin-right: 6px;
}
#main-title h2.updateDate span {
	font-size: 12px;
}
#main-title h2.updateDate {
	line-height: 45px;
	text-align: right;
}
#main-title h2.updateDate strong {
	font-size: 16px;
	vertical-align: middle;
}
.block.large-margin-bottom.anthracite-gradient {
	margin-bottom: 10px !important;
}
.text-alignright {
	text-align: right;
	margin: 15px 0;
	padding: 8px 0;
	display: block;
}
.modal-buttons.low-padding {
	padding: 10px;
	display: none;
}
.modal .select.replacement.select-styled-list {
    width: 100%;
}
#PageAcess h2 {
	font-size: 20px;
	margin: 0 0 10px;
}
.saveBack {
    text-align: right;
}
.StaffDetail .respTable .button-group.actiontab {
	width: 90px;
}
.button.compact.icon-gear {
	width: 45px;
}
.button.compact.icon-gear.editpro {
	width: 85px;
}
.button.Changepass, .button.Updategroup{
	width: 115px;
}
.button.UpdateMarkup {
	width: 115px; margin:15px 0 0
}
.text-right {
	text-align: right;
}
.Groupmark .select.replacement.select-styled-list {
	width: 100%;
}
.otb-table{overflow:auto; height:400px}
.addagent .select.replacement {
    padding-right: 0;
    width: 100%;
}
.updatemail {
	border: 1px #ccc solid;
	border-radius: 4px; 
	padding: 0;
	margin: 0;
	cursor: text;
	width: 97%;}
	
.updatemail ul { list-style:none; padding:5px; margin:0}	
.updatemail ul li {
	margin: 3px 5px 3px 5px;
	padding: 3px 5px 3px 5px;
	border: 1px #BBD8FB solid;
	border-radius: 3px;
	background: #F3F7FD;
}	
.multiple_emails-close {
	float: left;
	margin: 0 3px;
}
.avtiveDea{font-size: 14px; line-height: 25px}
.faicon {text-align: right; float:right}
.faicon .fa {
	font-size: 25px; margin-right: 15px;
	display: inline !important;
}
.six-columns.six-columns-mobile.text-alignright.selCurrency {
	padding: 00 0 8px;
}
.five-columns.twelve-columns-mobile.formBTn {
	margin-top: 15px;
}
.faicon .fa.fa-file-excel-o {
	color: green;
}
.faicon .fa.fa-file-pdf-o {
	color: #f00;
}
#main-title .addnew .fa {
	font-size: 22px;
}
.text-popBtn {
	position: absolute;
	right: 95px;
	bottom: 23px;
}
.displayNone {
	display: none;
}
 .Exchange {
	max-width: 670px;
	margin: 0 auto 25px;
	padding: 15px;
	border-radius: 10px;
}
.columns.visaBox > div, .visaBox h3 {
	margin-bottom: 0px;
}	 
.Exchange .select.replacement,.typeboth .select.replacement {
	padding-right: 0;
	width: 100%;
}
.searchInput .input.full-width {
	width: 80%; float:left
}
.searchInput .button.fa-search {
	float: right; 
}
.text-aligncenter {
	text-align: center;
	display: block;
	margin: 15px;
}
.form-horizontal .select.replacement, .tabs-content .select.replacement {
	padding-right: 0;
	width: 100%;
}
.tabs-content .table-header .select.replacement {
	width: auto;
}
#filter {
	border-radius: 10px;
	margin: 15px 0 0;
}
.textaraBank textarea {
	height: 80px;
}
.mobilNo label {
	display: block;
}
.mobilNo .input.full-width {
	width: 70%;display:inline-block;
}
.sideTabsys {
	min-height: 310px;
	border-bottom: 1px solid #d4d4d4;
}
.sideTabsys .medium.wider > .switch-off > span {
	width: 130px;
}
.sideTabsys .switch.medium.wider {
	width: 160px;
}
.sideTabsys .medium.checked.wider > .switch-off {
	left: 160px;
}
.sideTabsys .medium.checked.wider > .switch-button {
	left: 130px;
}
.sideTabsys .medium.wider > .switch-on > span, .sideTabsys  .medium.wider > .switch-off > span {
	width: 120px;
}
.ms-drop ul, .ms-Themes-drop ul {
	list-style: none;
	margin: 0;
	position: relative;
}
.ms-drop.input, .ms-Themes-drop.input {
	width: 93%;height: 150px;
overflow: auto;
}
.ms-choice .fa, .ms-Themes .fa {
	float: right;
	line-height: 25px;
}
.listchkBox ul {
	margin: 0;
	list-style: none;min-height: 130px;
}
.listchkBox ul li {
	float: left;
	width: 50%;
	line-height: 26px;
}
.listchkBox strong {
	margin: 0 0 15px;
	display: block;
}
.uploadimg {
	margin: 15px;
}
.uploadimg img {
	 max-width:200px}
.input.full-width.mrbot20{margin-bottom:20px}
.searhbtn {
	padding: 15px 0 0;
}
.respinvoiceTable{overflow:scroll; width:100%}
@media screen and (max-width:767px) {
.searhbtn {
	padding:0;
}
#main-title h2.updateDate {
	line-height: 20px;
	text-align: left;
}
#main-title h2.updateDate {
	line-height: 20px;
	text-align: left;
	position: relative;
	top: inherit;
	right: inherit;
}
.respTable {
	width: 99.4%;
	overflow: scroll;
	border-right: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
}
#main-title {
	padding: 17px 20px 0;
}
	#main-title h2 {
	position: relative;
	top: inherit;
	right: inherit;
	margin-bottom: 15px;
	font-size: 18px;
}
	#main-title h1 {

    margin: 0 0 15px;

}
.Rolemange{width:680px}
}