﻿

/* Style the list items */
.ClassDynamic >  ul li {
  cursor: pointer;
  position: relative;
  padding-left:25px;
  list-style-type: none;
  background: #eee;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.ClassDynamic > ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.ClassDynamic > ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.ClassDynamic > ul li.checked {
  background: #888;
  color: #fff;
}

/* Add a "checked" mark when clicked on */
.ClassDynamic > ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  left: 10px;
  transform: rotate(45deg);
  height: 10px;
  width: 4px;
}

/* Style the close button */
.closeX {
    position: absolute;
    right: 10px;
    top: 0;
}

.closeX:hover {
  background-color: #ff0000;
  color: white;
}
